
 <div class="main-card mb-3 card">
  <div class="card-header">
    Les Organismes Préstataire
  </div>
  <div class="table-responsive">
    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
      <thead>
      <tr>
      
        <th class="text-center">Théme</th>
        <th class="text-center">Organisme prestataire</th>
        <th class="text-center">Nom de formateur </th>
        <th class="text-center">Périod de réalisation planifiée</th>
        <th class="text-center">Note</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of formation.ListeFormateurs"> <!-- *ngFor="let item of notification.usersTrue "-->
      
        
        <td class="text-center" >{{item.theme}}</td>
        <td class="text-center" >{{item.organisme_prestataire}}</td>
        <td class="text-center" >{{item.nom_Formateur}}</td>
        <td class="text-center" >{{item.period}}</td>
        <td class="text-center" >{{item.score}}</td>
      
        <td class="text-center">
       <!--  <div class="d-block text-center card-footer">--> 
            <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger" (click)="DeleteFormateur(item.id)" >
              <i class="pe-7s-trash btn-icon-wrapper"> </i>
            </button>
         <!-- </div> -->
        </td>
     








      </tr>
     
      </tbody>
    </table>
  </div>
 
</div>










