<html lang="en">
<style>
  header {
  background-color: rgb(248, 248, 248);
  padding: 30px;
  text-align: center;
  font-size: 50px;
  color: blue;
}

</style>
<header> Fiche D'Evaluation Fourniseurs</header>
</html>
<p>


</p>
<p>


</p>
<div class="row" class="text-center" >
  <div class="col-md-6"  class="text-center">


    <h6 class="mb-3"  class="text-center">
      FOURNISEUR
     </h6>
    

    <div class="divider"></div>

    <div class="main-card mb-3 card">
     <div class="card-body"><h5 class="card-title"></h5>
     
         <div class="position-relative row form-group">
   
           <label for="examplePassword" class="col-sm-2 col-form-label">Nom Fournisseur: </label>
         
             <div class="position-relative form-group">
               <input  type="text" class="form-control" style="width: 200px;">
             </div>
          
           <label for="examplePassword" class="col-sm-2 col-form-label" >Catégorie : </label>
           <div class="position-relative form-group">
             <input  type="text" class="form-control" style="width: 200px;">
           </div>
           
         </div>
        
       
   
      
         <div class="position-relative row form-group">
   
           <label for="examplePassword" class="col-sm-2 col-form-label">Date D'evaluation : </label>
         
             <div class="position-relative form-group">
               <input type="date" class="form-control" style="width: 200px;">
             </div>
          
           <label for="examplePassword" class="col-sm-2 col-form-label" >Semestre : </label>
           <div class="position-relative form-group">
             <input  type="Date" class="form-control" style="width: 200px;">
           </div>
           
         </div>
         <div class="position-relative row form-group"><label for="exampleFile"
              class="col-sm-2 col-form-label"></label>
          
         </div>
      
     </div>
   </div>
   










<h6 class="mb-3"  class="text-center">
  1- QUALITE et PRIX
 </h6>
 <div class="divider"></div>

 <div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title"></h5>
  
      <div class="position-relative row form-group">
      
        <label for="examplePassword" class="col-sm-2 col-form-label">Conformité de la marchandise ou service</label>
      
        <label class="form-check-label">   </label>
        <div class="position-relative form-group">

          <select  class="form-control" style="width: 200px;" > <!-- formControlName="type_de_formation" name="type_de_formation"-->
                          <option>Très Satisfaisant</option>
                          <option>Satisfaisant</option>
                          <option> Acceptable   </option>
                          <option>Insatisfaisant</option>
                          <option>Non Applicable</option>
              
                          </select> 
      </div> 
      <label class="form-check-label" style="width: 100px;" >   </label>
        <label for="examplePassword" class="col-sm-2 col-form-label" >Qualité par rapport au prix </label>
        <label class="form-check-label">   </label>
        <div class="position-relative form-group" >

          <select  class="form-control"  style="width: 200px;" > <!-- formControlName="type_de_formation" name="type_de_formation"-->
            <option>Très Satisfaisant</option>
            <option>Satisfaisant</option>
            <option> Acceptable   </option>
            <option>Insatisfaisant</option>
            <option>Non Applicable</option>
              
                          </select> 
      </div> 
        
      </div>
     
    

   
      <div class="position-relative row form-group" style="text-align: center;">
        <label class="form-check-label" style="width: 200px;" >   </label>
        <label for="examplePassword" class="col-sm-2 col-form-label">Certification du fournisseur </label>
      
        <label class="form-check-label">   </label>
        <div class="position-relative form-group">

          <select  class="form-control" style="width: 200px;" > <!-- formControlName="type_de_formation" name="type_de_formation"-->
            <option>Très Satisfaisant</option>
            <option>Satisfaisant</option>
            <option> Acceptable   </option>
            <option>Insatisfaisant</option>
            <option>Non Applicable</option>
              
                          </select> 
      </div> 
       
       
        
      </div>
      <div class="position-relative row form-group"><label for="exampleFile"
           class="col-sm-2 col-form-label"></label>
       
      </div>
   
  </div>
</div>





<h6 class="mb-3"  class="text-center">
  2- RELATIONS COMMERCIALES
 </h6>
 <div class="divider"></div>

 <div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title"></h5>
  
      <div class="position-relative row form-group">

        <label for="examplePassword" class="col-sm-2 col-form-label">Cohérence et exactitude de facturation</label>
      
        <label class="form-check-label">   </label>
        <div class="position-relative form-group">

          <select  class="form-control"  > <!-- formControlName="type_de_formation" name="type_de_formation"-->
            <option>Très Satisfaisant</option>
            <option>Satisfaisant</option>
            <option> Acceptable   </option>
            <option>Insatisfaisant</option>
            <option>Non Applicable</option>
              
                          </select> 
      </div> 
      <label class="form-check-label" style="width: 100px;" >   </label>
        <label for="examplePassword" class="col-sm-2 col-form-label" >Conditions de paiement </label>
        <label class="form-check-label">   </label>
        <div class="position-relative form-group">

          <select  class="form-control"  > <!-- formControlName="type_de_formation" name="type_de_formation"-->
            <option>Très Satisfaisant</option>
            <option>Satisfaisant</option>
            <option> Acceptable   </option>
            <option>Insatisfaisant</option>
            <option>Non Applicable</option>
              
                          </select> 
      </div> 
        
      </div>
     
    

   
      <div class="position-relative row form-group">
        <label class="form-check-label" style="width: 200px;" >   </label>
        <label for="examplePassword" class="col-sm-2 col-form-label" >Politique garantie et SAV ( support, réparation)</label>
      
        <label class="form-check-label">   </label>
        <div class="position-relative form-group">

          <select  class="form-control"  style="width: 200px;"  > <!-- formControlName="type_de_formation" name="type_de_formation"-->
            <option>Très Satisfaisant</option>
            <option>Satisfaisant</option>
            <option> Acceptable   </option>
            <option>Insatisfaisant</option>
            <option>Non Applicable</option>
              
                          </select> 
      </div> 
       
       
        
      </div>
      <div class="position-relative row form-group"><label for="exampleFile"
           class="col-sm-2 col-form-label"></label>
       
      </div>
   
  </div>
</div>






<h6 class="mb-3"  class="text-center">
  3- ORGANISATION ET REACTIVITE
 </h6>
 <div class="divider"></div>

 <div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title"></h5>
  
      <div class="position-relative row form-group">

        <label for="examplePassword" class="col-sm-2 col-form-label">Respect du délai de livraison</label>
      
        <label class="form-check-label">   </label>
        <div class="position-relative form-group">

          <select  class="form-control"  > <!-- formControlName="type_de_formation" name="type_de_formation"-->
            <option>Très Satisfaisant</option>
            <option>Satisfaisant</option>
            <option> Acceptable   </option>
            <option>Insatisfaisant</option>
            <option>Non Applicable</option>
              
                          </select> 
      </div> 
      <label class="form-check-label" style="width: 100px;" >   </label>
        <label for="examplePassword" class="col-sm-2 col-form-label" >Respect de délai de réponse de la consultation </label>
        <label class="form-check-label">   </label>
        <div class="position-relative form-group">

          <select  class="form-control"  > <!-- formControlName="type_de_formation" name="type_de_formation"-->
            <option>Très Satisfaisant</option>
            <option>Satisfaisant</option>
            <option> Acceptable   </option>
            <option>Insatisfaisant</option>
            <option>Non Applicable</option>
              
                          </select> 
      </div> 
        
      </div>
     
    

   
     
      <div class="position-relative row form-group"><label for="exampleFile"
           class="col-sm-2 col-form-label"></label>
       
      </div>
   
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <form > <!--onSubmitParticipant()-->
    <div class="modal-header">
      <h4 class="modal-title"></h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="col-md-6">


        <!--style="width: 300px"-->
        

        <div class="card-body" >

         <label> - Inférieur à 12 : Non satisfait</label>
         <label> - Entre 12 et 15 : Satisfait</label>
         <label> - Supérieur à 15 : Très satisfait</label>
         <div class="divider"></div>
       <h6 >Totale evaluation égale  à /39 </h6> <!-- {{formation.resultat}}-->



        </div>

      </div>


    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary"(click)="c('Close click')" >Prestataire non retenu</button>
      <button type="submit" class="btn btn-primary" >Prestataire retenu</button>
    </div>
  </form>
</ng-template>


<div class="modal-footer">
             
  <button type="button" class="btn btn-primary" (click)="open(content)" (click)="CalculerTotaleEvaluation()">Total Evaluation</button>
</div>
</div>
</div>