

<div class="app-page-title">
  <div class="page-title-wrapper">
  <div class="page-title-actions">
  
    <button type="button" class="btn-shadow d-inline-flex align-items-center btn btn-success" (click)=" openCentred(content1)" >
      <fa class="mr-2" name="plus" ></fa>
      Domaine
    </button>
  
    <div class="modal-body">
    <ng-template #content1 let-c="close" let-d="dismiss">
      <form  [formGroup]="competence.DomaineModel" class="form" role="form" class="mb-4" autocomplete="off" >
        <div class="modal-header">
          <h4 class="modal-title"></h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    
  
        <div class="card-body">
          <div class="position-relative row form-group">
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label" >Domaine</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" formControlName="NomDomaine" name="NomDomaine">
               
         
                
               
              </div>
            </div>
            <div class="form-group row">
            <button type="submit" class="btn btn-primary" (click)="RegisterDomaine()" >Ajouter</button>
          </div>
        </div>
        </div>
    
    
       
      </form>



      <div class="table-responsive">
        <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
        <thead>
          <tr>
           
            <th class="text-center"></th>
            <th class="text-center"></th>
        
          </tr>
          </thead>

         <tbody>
          <tr *ngFor="let domaine of competence.DomaineList" > 
  
            <td class="text-center" > {{domaine.nomDomaine}}</td>
          
             <td class="text-center">
          
                   <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger" (click)="onDelete(domaine.id)">
                     <i class="pe-7s-trash btn-icon-wrapper"> </i>
                   </button>
            
               </td>
            
          </tr>
         </tbody>
        </table>
      </div>

    </ng-template>
  </div>
  
  
  
   
    
    
  </div>
  </div>
  </div>
  



<!-- Editable table -->
<div class="card">
  <form  [formGroup]="competence.CompetenceModel" class="form" role="form" class="mb-4" autocomplete="off" >
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="add()">
          <i class="fa fa-plus-circle" style="font-size:48px;color:blue"></i>
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center" >
        <tr>
          <th class="text-center">Domaine</th>
          <th class="text-center">Label</th>
          <th class="text-center">Niveau</th>
         

        </tr>
        
        <tr *ngFor="let person of CompUserList; let id = index" >
          <td>
            <div class="position-relative form-group">


              <select class="form-control" formControlName="domaineId"  
              name="domaineId" style="width: 200px;"  (change)="ValueChange($event)">
              <option >
                select</option>
              <option *ngFor="let domaine of competence.DomaineList" [value]="domaine.domaineId"  >
               {{domaine.nomDomaine}}</option>
             
            </select>
            </div>
          </td>
          <td>
            <div class="position-relative form-group">
              <input  type="text" class="form-control" style="width: 200px;" formControlName="NomLabel" name="NomLabel">
            </div>
          </td>
         
        
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="RegisterCompetence()">Ajouter</button>
            </span>
          </td>
        
        </tr>
   
      </table>
    </div>
  </div>
  </form>
</div>
<!-- Editable table Competence-->








<!-- Attribuer competence a l'utilisateur -->
<div class="card">
  <form  [formGroup]="competence.UserCompModel" class="form" role="form" class="mb-4" autocomplete="off" >
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="add()">
          <i class="fa fa-plus-circle" style="font-size:48px;color:blue"></i>
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center" >
        <tr>
          <th class="text-center">Nom</th>
          <th class="text-center">Domaine</th>
          <th class="text-center">Label</th>
          <th class="text-center">Niveau</th>
         

        </tr>
        
        <tr *ngFor="let person of personList; let id = index" >
          <!-- select pour utilisateur-->
          <td>
            <div class="position-relative form-group">


              <select class="form-control" formControlName="UserId"  
              name="UserId" style="width: 100px;"  (change)="ValueChangeuser($event)">
              <option >
                select</option>
              <option *ngFor="let item of competence.usersTrue " [value]="item.id" >
                {{item.userName}} {{item.fullName}}</option>
             
            </select>
            </div>
          </td>
          <!--select pour domaine-->
          <td>
            <div class="position-relative form-group">


              <select class="form-control" formControlName="domaineId"  
              name="domaineId" style="width: 100px;"  (change)="ValueChangeDomaine($event)">
              <option >
                select</option>
              <option *ngFor="let domaine of competence.DomaineList" [value]="domaine.domaineId"  >
               {{domaine.nomDomaine}}</option>
             
            </select>
            </div>
          </td>
          <!--select label conditionné-->
          <td>
            <div class="position-relative form-group">


              <select class="form-control" formControlName="LabelId"  
              name="LabelId" style="width: 100px;"  (change)=" ValueChangeLabel($event)">
              <option >
                select</option>
              <option *ngFor="let label of competence.LabeList" [value]="label.labelId" >
                {{label.nomLabel}}</option>
             
            </select>
            </div>
          </td>
          <td>
            <div class="position-relative form-group">

              <select class="form-control" formControlName="Niveau" name="Niveau" style="width: 100px;" >
              <option >
                1</option>
                <option >
                  2</option>
                  <option >
                    3</option>
                    <option >
                      4</option>
             
             
            </select>

         <!-- <input  type="text" class="form-control" style="width: 200px;" formControlName="Niveau" name="Niveau">-->
             
            </div>
          </td>
        
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="RegisterCompetenceUser()">Ajouter</button>
            </span>
          </td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">Supprimer</button>
            </span>
          </td>
        </tr>
   
      </table>
    </div>
  </div>
  </form>
</div>
<!-- Editable table -->














<div class="main-card mb-3 card">
 
  <div class="table-responsive">
    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
      <thead>
      <tr>
      
      
        <th ><strong style="color: blue;">Domaine</strong></th>
        <th ><strong style="color: blue;"></strong></th>
       
     
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let domaine of competence.DomaineList">
      
        
        <td  >{{domaine.nomDomaine}}</td>
        <td >
          
          <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger" (click)="onDelete(domaine.id)">
            <i class="pe-7s-trash btn-icon-wrapper"> </i>
          </button>
   
      </td>
    
        <td >
         <!-- <button type="button" class="btn btn-primary btn-sm">Details</button> -->


         <div role="group" class="btn-group-sm btn-group">
          <!-- <button type="button" class="btn-shadow btn btn-primary">Edit role</button>-->
          <div class="card-body" class="text-center">
           <div role="group" class="btn-group-sm btn-group">
           <span *ngIf="closeResult" class="kt-section__sub">
             <pre>{{closeResult}}</pre>
           </span>
           <div class="divider"></div>
           <form  [formGroup]="competence.FormModel" class="mb-4" autocomplete="off" > <!-- (submit)="onSubmit(form)"-->
         <!-- <input type="hidden" name="id" [value]="notification.formData.id">-->  
           <ng-template #content let-c="close" let-d="dismiss">
             <div class="modal-header">
               <h4 class="modal-title"></h4> <!--Demo Basic-->
               <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
         
             <div class="modal-body">

      <!--ici la sous formulaire de role de la boutton edit role-->
           
               <div class="main-card mb-3 card">
                 <div class="card-body">
                   <div>
                     <div class="table-responsive">
                     <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
                     <thead>
                       <tr>
                         <th class="text-center"></th>
                         <th class="text-center"></th>
                         <th class="text-center"></th>
                     
                       </tr>
                       </thead>

                      <tbody>
                       <tr  > 
                       
                         <td class="text-center" style="width: 80px;">
                         <strong>Domaine</strong>
                         </td>
                         <div class="form-group ">
                         <td class="text-center" > 
                 <!--[(ngModel)]="{{domaine.nomDomaine}}" name="userName"-->     
                      <input    class="form-control" [(ngModel)]="competence.formData.nomDomaine"
                          placeholder="" formControlName="nomDomaine" name="nomDomaine" >
                         </td>
                       
                        </div>
                         
                       </tr>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-center"><strong>Sous Domaine</strong> </th>
                          <th class="text-center"></th>
                      
                        </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let label of competence.LabeList" class="text-center" [hidden]="domaine.domaineId!=label.domaineId " ><!--*ngFor="let role of notification.role "-->
                        
                            <td class="text-center" > {{label.nomLabel}} </td>
                            <td class="text-center">
                              <!--  <div class="d-block text-center card-footer">--> 
                                   <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger" > <!--(click)="DeleteRole(role,item.id)"-->
                                     <i class="pe-7s-trash btn-icon-wrapper"> </i>
                                   </button>
                                <!-- </div> -->
                               </td>
                            </tr>
                            </tbody>
                     </table>
                   </div>
                  
                   
                  
                   
                      
                    
                     
                    
                     
                   </div>
                 </div>
               </div>

             </div>
             <div class="modal-footer" class="text-center">
             
               <button type="button" class="btn btn-primary" type="submit"  (click)="c('Close click')" (click)="onSubmit(form,domaine.domaineId)" >Modifier</button><!--(click)="onSubmit(form,item.id)"-->
             </div>
           </ng-template>
 
          </form>
 
           <td class="text-center">
           <div role="group" class="btn-group-sm btn-group">
           <button class="btn btn-primary" (click)="openLarge(content)" (click)="populateForm(domaine)" >Detail</button> <!--(click)="populateForm(item)"-->
         </div>
           </td>
           </div>
       </div>
         
         
         
         
         </div>


        </td>
      </tr>
     
      </tbody>
    </table>
  </div>
 
</div>


<!DOCTYPE html>
<html>
<head>

<style>
.fa {
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  color: green;
}



.fa:hover {
  color: green;
}
</style>
</head>
<body>




</body>
</html>









